
/* Hintergrund */  

body {
    background-image: url("../Aufgabe04/Station_3_Hover/images/bg.png");
}

/* Navigationsleiste Position */

header {position: absolute;
    right: 5px;
    top: 5px;
}

/* Navigationsleiste Aussehen */

header a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #313F80;
    padding: 1px 4px 1px 4px;
    border-radius: 5px;
    border: 1px;
}

/* Positionierung des Containers */

.Karte{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Positionierung und Farbe des Textes */

.Text {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 2;
    color: white;
}

/* Begränzung des Textfeldes */

textarea {
    max-height: 5rem;
    min-height: 2rem;
    max-width: 500px;
}