
/* Hintergrund */  

body {
    background-image: url("../Aufgabe04/Station_4_Fonts/images/bg.png");
}

/* Navigationsleiste Position */

header {position: absolute;
    right: 5px;
    top: 5px;
}

/* Navigationsleiste Aussehen */

header a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #D22ED2;
    padding: 1px 4px 1px 4px;
    border-radius: 5px;
    border: 1px;
}

/* Positionierung des Containers */

.Karte{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Positionierung, Farbe, Font und Größe des Textes */

.Text {
    position: absolute;
    top: 20px;
    left: 60px;
    z-index: 2;
    color: white;
    font-family:"Pinyon Script","Parisienne","Dancing Script","Tangerine";
    font-size: 20px;
}

h1{font-size: 80px;}