/* Schriftart und Hintergrund + Scrollbar Force */

body {font-family: sans-serif;
      background-image: url("../Aufgabe03/task_material/hintergrund/bg.png");
      overflow-y: scroll;
}

/* Orangener Kreis und portfolio Titel */  

  #box{
    background-color: #B63514;
    width: 800px;
    height: 800px;
    top: 800px;
    left: 800px;
    border: 1px #B63514;
    text-align: center;
    font-size: 190px;
    font-weight: 800;
    letter-spacing: -20px;
    border-radius: 1000px;
    margin: -520px 0px 80px;
    margin-left: auto;
    margin-right: auto;
}

/* Hintergrundtextur für Portfolio Titel */

#box p {
background-image: url("../Aufgabe03/task_material/hintergrund/bg.png");
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Hintergrundtextur Überschrift und Formatierung bzw. Größe */

#box2 p{
background-image: url("../Aufgabe03/task_material/hintergrund/bg.png");
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-size: 60px;
font-weight: 800;
margin: -400px 0px 10px 320px;
}

/* Hintergrundtextur Text und Formatierung bzw. Größe */

#box3 p{
background-image: url("../Aufgabe03/task_material/hintergrund/bg.png");
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: left;
font-size: 12px;
font-weight: 800;
margin: 0px 0px 250px 895px;
}

/* Größe und Position Facebook Logo */

img[src="../Aufgabe03/task_material/hintergrund/icon_facebook.png"]{
  display: block; width: 30px;
  position: absolute;
  left: 902px;
  top: 420px;
}

/* Visuelles Feedback Facebook Logo */

.sichtbarkeit {opacity: 50%; cursor: pointer;}
.sichtbarkeit:hover {opacity: 100%;}

/* Formatierung und Breite Videos und Bilder */

img, video{
    display: block; width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 5px;
 }

 /* Formatierung und Aussehen Texte (über Bilder und Videos) */

h3{
  text-align: left; 
    padding: 50px 0px 10px 528px; 
    font-size: 25px;
    color: #B63514;
}

/* Knopfdesign */

* {box-sizing: content-box;}
.knopf {
  border: 1px #000000;
  outline: none;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0px -2.5px;
  }

/* Knopf Visuelles Feedback */

.knopf:hover {background-color: rgb(116, 116, 116);}
.knopf.gedrückt {background-color: rgb(0, 0, 0); color: rgb(255, 153, 0);}
.anordnungknopf {text-align: right; padding: 0px 60px 0px 0px;}

/* Formatierung Eingabefelder von Contact Page */

.eingabe{
  position: absolute;
  left: 535px;
}

/* Design Eingabefelder */

input {
background-color: lightgray;
width: 300px;
height: 25px;
border: none;
padding: 3px;
margin: 10px;
}

/* Nachrichten Feld */

textarea {
background-color: lightgray;
width: 300px;
height: 25px;
border: none;
padding: 3px;
margin: 10px;
}

/* Abstand zum Button */

main button{
background-color: lightgray;
border: none;
width: 100;
height: 25px;
padding: 3px;
font-size: 18px;
font-family: sans-serif;
font-weight: 100;
color: white;
margin-bottom: 200px;
margin-left: 10px;
cursor: pointer;
}

/* Text in Eingabefeldern */

::placeholder{
color: white;
font-size: 18px;
font-family: sans-serif;
font-weight: 100;
}